.vscode
.deps
*.cache
*.log
Makefile
Makefile.in
aclocal.m4
configure
configure.scan
stamp-h1
*.0
*~
*.gch
src/.*
src/*/.*
src/*/*/.*
src/*.o
src/*/*.o
src/*/*/*.o
src/*.lo
src/*/*.lo
src/*.la
src/*/*.la
src/*/*/*la
src/*.trs
src/*/*.trs
src/*/*/*.trs

lib/*/.*
lib/*/*/.*

lib/*/*.o
lib/*/*/*.o

lib/*/*.lo
lib/*/*/*.lo

lib/*/*.la
lib/*/*/*.la

lib/*/*.trs
lib/*/*/*.trs

compile
depcomp
*.sh
install-sh
libtool
test-driver
missing
config.*
gdb
test
